* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

:where(.css-dev-only-do-not-override-190m0jy).ant-input-affix-wrapper > input.ant-input {
  padding: 0;
  font-size: inherit;
  border: none;
  border-radius: 0;
  outline: none;
  height: 32px !important;
}
:where(.css-dev-only-do-not-override-190m0jy).ant-btn-primary {
  color: #fff;
  background-color: blueviolet !important;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}
:where(.css-dev-only-do-not-override-190m0jy).ant-input:hover {
  border-color: blueviolet !important;
  border-inline-end-width: 1px;
}
:where(.css-dev-only-do-not-override-190m0jy).ant-input:focus,
:where(.css-dev-only-do-not-override-190m0jy).ant-input-focused {
  border-color: blueviolet !important;
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
  border-inline-end-width: 1px;
  outline: 0;
}
:where(.css-dev-only-do-not-override-190m0jy).ant-input:hover {
  border-color: blueviolet !important;
  border-inline-end-width: 1px;
}
input:focus,
:where(.css-dev-only-do-not-override-190m0jy).ant-input-focused {
  border-color: blueviolet !important;
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
  border-inline-end-width: 1px;
  outline: 0;
}
:where(.css-dev-only-do-not-override-190m0jy).ant-input-affix-wrapper:focus,
:where(.css-dev-only-do-not-override-190m0jy).ant-input-affix-wrapper-focused {
  border-color: blueviolet !important;
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
  border-inline-end-width: 1px;
  outline: 0;
}
:where(.css-dev-only-do-not-override-190m0jy).ant-input-affix-wrapper:not(
    .ant-input-affix-wrapper-disabled
  ):hover {
  border-color: blueviolet !important;
  border-inline-end-width: 1px;
  z-index: 1;
}
:where(.css-dev-only-do-not-override-190m0jy).ant-btn-default:not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  color: blueviolet !important;
  border-color: blueviolet !important;
}
